<%= render "header" %>

<div class="col-md-6" style="margin:0 auto">
<form method="POST" action="/add">
<%= token_tag %>
<div class="mb-3 ">
  <label for="Title" class="form-label">Title</label>
  <input type="text" class="form-control" id="title" name="title" placeholder="Title">
</div>
<div class="mb-3">
  <label for="Description" class="form-label">Description</label>
  <textarea class="form-control" id="Description" name="description" rows="3"></textarea>
</div>
<div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Add" style="display:block;margin:0 auto">
</div>
</form>
</div>
<hr>
<% @posts.each do |post| %>
    <div class="card" style="width: 18rem;margin:0 auto">  
    <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.description %></p>
        
        <%= link_to 'Delete', "delete/#{post.id}", :method => :delete %>
        <%= link_to 'Update', "update/#{post.id}", :method => :put %>
        
    </div>
    </div>  
<% end %>
<%= render "footer" %>